---
layout: article
titles:
  # @start locale config
  en      : &EN       Publication
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       
  ko-KR   : *KO
  fr      : &FR       Publication
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config
key: page-about
---
<div>
<p style="width:1200px;text-align:justify">
</p> 
<body>
	<table align="center" rules="none" frame="void">

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/gaze.png" width="150" alt="" hspace="8" /></td>
            <td><font size="4">Gaze based rendering for audience engagement </font><br>
    <font size="4"><b>Ye Pan</b>, Kenny Mitchell</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/Gaze%20based%20rendering%20for%20audience%20engagement.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp; </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/HPOF.png" width="150" alt="" hspace="8" /></td>
            <td><font size="4">HPOF: 3D Human Pose Recovery from Monocular Video with Optical Flow </font><br>
    <font size="4">Bin Ji, Chen Yang, Shunyu Yao, <b>Ye Pan</b></font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/HPOF_3D%20Human%20Pose%20Recovery%20from%20Monocular%20Video%20with%20Optical%20Flow.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=HPOF_3D+Human+Pose+Recovery+from+Monocular+Video+with+Optical+Flow&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3AxJ2r4757Y-0J%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/augmenting.png" width="150" alt="" hspace="8" /></td>
            <td><font size="4">Augmenting a physical object with virtual components </font><br>
    <font size="4">Corey D. Drake, Kenneth J. Mitchell, Rachel E. Rodgers, Joseph G. Hager, IV, Kyna P. McIntosh, <b>Ye Pan</b></font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/Augmenting%20a%20physical%20object%20with%20virtual%20components.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=Augmenting+a+physical+object+with+virtual+components&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3AyWllw7_iVyEJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/RVCA.png" width="150" alt="" hspace="8" /></td>
            <td><font size="4">Foreward to the Special Section on the Reality-Virtuality Continuum and its Applications (RVCA) </font><br>
    <font size="4">Mashhuda Glencross, Kenny Mitchell, Billinghurst Mark, <b>Ye Pan</b></font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/Foreward%20to%20the%20special%20section%20on%20the%20Reality-Virtuality%20Continuum%20and%20its%20Applications%20(RVCA).pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=Foreward+to+the+Special+Section+on+the+Reality-Virtuality+Continuum+and+its+Applications+%28RVCA&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3ACipzIMOLGPEJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/rocketbox.png" width="150" alt="" hspace="8" /></td>
            <td><font size="4">The rocketbox library and the utility of freely available rigged avatars </font><br>
    <font size="4">Mar Gonzalez-Franco, Eyal Ofek, <b>Ye Pan</b>, Angus Antley, Anthony Steed</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/The%20rocketbox%20library%20and%20the%20utility%20of%20freely%20available%20rigged%20avatars.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=The+rocketbox+library+and+the+utility+of+freely+available+rigged+avatars&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3ApmWDdRqrmsIJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/Pose-guided.png" width="150" alt="" hspace="8" /></td>
            <td><font size="4">Pose-guided person image synthesis in the non-iconic views </font><br>
    <font size="4">Chengming Xu, Yanwei Fu, Chao Wen, <b>Ye Pan</b>, Yu-Gang Jiang, Xiangyang Xue</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/Pose-Guided_Person_Image_Synthesis_in_the_Non-Iconic_Views.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=Pose-guided+person+image+synthesis+in+the+non-iconic+views&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3ADCR1X7uZQy0J%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/Collaborative.png" width="150" alt="" hspace="8" /></td>
            <td><font size="4">Group-Based Expert Walkthroughs: How Immersive Technologies Can Facilitate the Collaborative Authoring of Character Animation </font><br>
    <font size="4"><b>Ye Pan</b>, Kenny Mitchell</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/Group-Based_Expert_Walkthroughs_How_Immersive_Technologies_Can_Facilitate_the_Collaborative_Authoring_of_Character_Animation.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=Group-Based+Expert+Walkthroughs%3A+How+Immersive+Technologies+Can+Facilitate+the+Collaborative+Authoring+of+Character+Animation&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3AzbDHRY808ZsJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/VIPviewer.png" width="150" alt="" hspace="8" /></td>
            <td><font size="4">Improving VIP viewer gaze estimation and engagement using adaptive dynamic anamorphosis </font><br>
    <font size="4"><b>Ye Pan</b>, Kenny Mitchell</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/Improving%20VIP%20viewer%20gaze%20estimation%20and%20engagement%20using%20adaptive%20dynamic%20anamorphosis.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=Improving+VIP+viewer+gaze+estimation+and+engagement+using+adaptive+dynamic+anamorphosis&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3AFC0Jzwz23ZsJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>
        
        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/keyFrameLookAT_poseMMR-e1586826820495.png" width="150" alt="" hspace="8" /></td>
            <td><font size="4">PoseMMR: A Collaborative Mixed Reality Authoring Tool for Character Animation </font><br>
    <font size="4"><b>Ye Pan</b>, Kenny Mitchell</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/PoseMMR_%20A%20Collaborative%20Mixed%20Reality%20Authoring%20Tool%20for%20Character%20Animation.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=PoseMMR_+A+Collaborative+Mixed+Reality+Authoring+Tool+for+Character&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3A2UkNAhXuaPQJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/planet-OnceUponATIme2.png" width="150" alt="" hspace="8" /></td>
            <td><font size="4">JUNGLE: An Interactive Visual Platform for Collaborative Creation and Consumption of Nonlinear Transmedia Stories </font><br>
    <font size="4">Mubasir Kapadia, Carlos Manuel Muniz, Samuel S. Sohn, <b>Ye Pan</b>, Sasha Schriber, Kenny Mitchell, Markus Gross</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/JUNGLE_An%20Interactive%20Visual%20Platform%20for%20Collaborative%20Creation%20and%20Consumption%20of%20Nonlinear%20Transmedia%20Stories.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=JUNGLE_An+Interactive+Visual+Platform+for+Collaborative+Creation+and+Consumption+of+Nonlinear+Transmedia+Stories&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3AApx03DpvA2oJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/handsOnly-e1586830032680.png" width="150" alt="" hspace="8" /></td>
            <td><font size="4">Avatar type affects performance of cognitive tasks in virtual reality </font><br>
    <font size="4"><b>Ye Pan</b>, Anthony Steed</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/Avatar%20type%20affects%20performance%20of%20cognitive%20tasks%20in%20virtual%20reality.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=Avatar+type+affects+performance+of+cognitive+tasks+in+virtual+reality&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3AWHdaai2mZ9gJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/P5a-e1586827543694.png" width="150" alt="" hspace="8" /></td>
            <td><font size="4">How foot tracking matters: The impact of an animated self-avatar on interaction, embodiment and presence in shared virtual environments </font><br>
    <font size="4"><b>Ye Pan</b>, Anthony Steed</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/How%20foot%20tracking%20matters_%20The%20impact%20of%20an%20animated%20self-avatar%20on%20interaction%2C%20embodiment%20and%20presence%20in%20shared%20virtual%20environments.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=How+foot+tracking+matters%3A+The+impact+of+an+animated+self-avatar+on+interaction%2C+embodiment+and+presence+in+shared+virtual+environments&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3AfF9OUdQ7SCgJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/track_real-e1586835254896.jpg" width="150" alt="" hspace="8" /></td>
            <td><font size="4">Accurate and fast classification of foot gestures for virtual locomotion </font><br>
    <font size="4">Xinyu Shi, Junjun Pan, Zeyong Hu, Juncong Lin, Shihui Guo, Minghong Liao, <b>Ye Pan</b>, Ligang Liu</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/Accurate%20and%20Fast%20Classification%20of%20Foot%20Gestures%20for%20Virtual%20Locomotion.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=Accurate+and+fast+classification+of+foot+gestures+for+virtual+locomotion&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3AKlzvwrDwbUIJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/Spatial.jpg" width="150" alt="" hspace="8" /></td>
            <td><font size="4">Enabling grasp action: Generalized quality evaluation of grasp stability via contact stiffness from contact mechanics insight </font><br>
    <font size="4">Huixu Dong, Chen Qiu, Dilip K.Prasad, <b>Ye Pan</b>, Jiansheng Dai, I-Ming Chen</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/Enabling%20grasp%20action_Generalized%20quality%20evaluation%20of%20grasp%20stability%20via%20contact%20stiffness%20from%20contact%20mechanics%20insight.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=Enabling+grasp+action%3A+Generalized+quality+evaluation+of+grasp+stability+via+contact+stiffness+from+contact+mechanics+insight&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3AK5CsusSCnZEJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/wewait-e1586836409276.jpg" width="150" alt="" hspace="8" /></td>
            <td><font size="4">“We wait”—the impact of character responsiveness and self embodiment on presence and interest in an immersive news experience </font><br>
    <font size="4">Anthony Steed, <b>Ye Pan</b>, Zillah Watson, Mel Slater</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/“We%20wait”—the%20impact%20of%20character%20responsiveness%20and%20self%20embodiment%20on%20presence%20and%20interest%20in%20an%20immersive%20news%20experience.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=%E2%80%9CWe+wait%E2%80%9D%E2%80%94the+impact+of+character+responsiveness+and+self+embodiment+on+presence+and+interest+in+an+immersive+news+experience&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3AM41039px7gIJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/BA-1-e1586836697474.png" width="150" alt="" hspace="8" /></td>
            <td><font size="4">Empowerment and embodiment for collaborative mixed reality systems </font><br>
    <font size="4"><b>Ye Pan</b>, David Sinclair, Kenny Mitchell</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/Empowerment%20and%20embodiment%20for%20collaborative%20mixed%20reality%20systems.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=Empowerment+and+embodiment+for+collaborative+mixed+reality+systems&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3AYdvAxRLiTeEJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/cognitive.png" width="150" alt="" hspace="8" /></td>
            <td><font size="4">The impact of a self-avatar on cognitive load in immersive virtual reality </font><br>
    <font size="4">Anthony Steed, <b>Ye Pan</b>, Fiona Zisch, William Steptoe</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/The%20impact%20of%20a%20self-avatar%20on%20cognitive%20load%20in%20immersive%20virtual%20reality.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=The+impact+of+a+self-avatar+on+cognitive+load+in+immersive+virtual+reality&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3AWCBpE2T9ZKgJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/RHD.jpg" width="150" alt="" hspace="8" /></td>
            <td><font size="4">Effects of 3D perspective on head gaze estimation with a multiview autostereoscopic display </font><br>
    <font size="4">Anthony Steed, <b>Ye Pan</b></font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/Effects%20of%203D%20perspective%20on%20head%20gaze%20estimation%20with%20a%20multiview%20autostereoscopic%20display.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=Effects+of+3D+perspective+on+head+gaze+estimation+with+a+multiview+autostereoscopic+display&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3Agm5UPQaYuK8J%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/wild-e1586921485197.png" width="150" alt="" hspace="8" /></td>
            <td><font size="4">An ‘in the wild’experiment on presence and embodiment using consumer virtual reality equipment </font><br>
    <font size="4">Anthony Steed, Sebastian Frlston, Maria Murcia Lopez, Jason Drummond, <b>Ye Pan</b>, David Swapp</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/An%20‘In%20the%20Wild’%20Experiment%20on%20Presence%20and%20Embodiment%20using%20Consumer%20Virtual%20Reality%20Equipment.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=An+%E2%80%98in+the+wild%E2%80%99experiment+on+presence+and+embodiment+using+consumer+virtual+reality+equipment&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3AsFcoYI45XoMJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/avatar_expert8.png" width="150" alt="" hspace="8" /></td>
            <td><font size="4">A comparison of avatar-, video-, and robot-mediated interaction on users’ trust in expertise </font><br>
    <font size="4"><b>Ye Pan</b>, Anthony Steed</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/A%20Comparison%20of%20Avatar-%2C%20Video-%2C%20and%20Robot-Mediated%20Interaction%20on%20Users’%20Trust%20in%20Expertise.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=A+comparison+of+avatar-%2C+video-%2C+and+robot-mediated+interaction+on+users%E2%80%99+trust+in+expertise+&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3AwyT7XxOHin4J%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/sphereVideoUX-scaled.jpg" width="150" alt="" hspace="8" /></td>
            <td><font size="4">A surround video capture and presentation system for preservation of eye-gaze in teleconferencing applications</font><br>
    <font size="4"><b>Ye Pan</b>, Oyewole Oyekoya, Anthony Steed</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/A%20Surround%20Video%20Capture%20and%20Presentation%20System%20for%20Preservation%20of%20Eye-Gaze%20in%20Teleconferencing%20Applications.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=A+surround+video+capture+and+presentation+system+for+preservation+of+eye-gaze+in+teleconferencing+applications+&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3A2UYKeWZ5G1IJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/impression.png" width="150" alt="" hspace="8" /></td>
            <td><font size="4">An Empirical Study on Display Ad Impression Viewability Measurements</font><br>
    <font size="4">Weinan Zhang, <b>Ye Pan</b>, Tianxiong Zhou, Jun Wang</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/An%20Empirical%20Study%20on%20Display%20Ad%20Impression%20Viewability%20Measurements.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=An+Empirical+Study+on+Display+Ad+Impression+Viewability+Measurements&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3A7iuqageG3egJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/twoRobot.jpg" width="150" alt="" hspace="8" /></td>
            <td><font size="4">Symmetric telepresence using robotic humanoid surrogates</font><br>
    <font size="4">Arjun Nagendran, Anthony Steed, Brian Kelly, <b>Ye Pan</b></font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/Symmetric%20telepresence%20using%20robotic%20humanoid%20surrogates.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=Symmetric+telepresence+using+robotic+humanoid+surrogates&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3A8RCHV0xZ6BsJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/trust.jpg" width="150" alt="" hspace="8" /></td>
            <td><font size="4">Comparing Flat and Spherical Displays in a Trust Scenario in Avatar-Mediated Interaction</font><br>
    <font size="4"><b>Ye Pan</b>, William Steptoe, Anthony Steed</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/Comparing%20flat%20and%20spherical%20displays%20in%20a%20trust%20scenario%20in%20avatar-mediated%20interaction.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=Comparing+Flat+and+Spherical+Displays+in+a+Trust+Scenario+in+Avatar-Mediated+Interaction&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3AomHXf3M1zDMJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/Multiview-1.jpg" width="150" alt="" hspace="8" /></td>
            <td><font size="4">A gaze-preserving situated multiview telepresence system</font><br>
    <font size="4"><b>Ye Pan</b>, Anthony Steed</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/A%20Gaze-preserving%20Situated%20Multiview%20Telepresence%20System.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=A+gaze-preserving+situated+multiview+telepresence+system&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3AbD7K3XhmwOIJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>
    
        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/sphereVideo.jpg" width="150" alt="" hspace="8" /></td>
            <td>    <font size="4">Preserving gaze direction in teleconferencing using a camera array and a spherical display</font><br>
    <font size="4"><b>Ye Pan</b>, Anthony Steed</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/Preserving_gaze_direction_in_teleconferencing_using_a_camera_array_and_a_spherical_display.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=Preserving+gaze+direction+in+teleconferencing+using+a+camera+array+and+a+spherical+display&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3ApUFSBXWe48EJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
    </table>
</body>
</div>

<!--
---
layout: articles
title: HomePage
articles:
  data_source: site.posts
  type: item
  show_excerpt: true
  excerpt_type: html
  show_readmore: false
  show_info: true
  # @start locale config
  en      : &EN       Home
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  主页
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  主頁
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       홈
  ko-KR   : *KO
  fr      : &FR       Accueil
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config
show_title: false
---
<div class="layout--home">
  {%- include paginator.html -%}
</div>

<script>
  {%- include scripts/home.js -%}
</script>

{{ content }}
-->
